<?php

class ConnectionInfo {

  //Google account that owns the Fusion Table
  public static $google_username = "xxxxxxx";
  public static $google_password = "xxxxxxx";
  public static $googleApiKey = "xxxxxxx"; //get yours here: https://code.google.com/apis/console/
  public static $fusionTableId = "1fK7H4ZDsWT-9sa09CjuJft3UBzxGcQlyPRBygEc"; //must be encrypted!
  
}
?>